body {
  padding-top: 70px;
  padding-bottom: 30px;
  text-align:left;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

ul {
    margin-left: 50px;
}

.rowtype-reference {
    background-color: #d9edf7;
}