Sphinx==1.5.3
sphinx-intl==0.9.9
transifex-client==0.12.4
sphinx-rtd-theme==0.2.4
flattentool==0.20.0
sphinxcontrib-opendataservices-jsonschema==0.1.0
-e git+https://github.com/OpenDataServices/sphinxcontrib-opendataservices.git@e1f14278807341baadf213566220f77ab27ef5e0#egg=sphinxcontrib_opendataservices
alabaster==0.7.10
appdirs==1.4.3
Babel==2.9.1
click==6.7
commonmark==0.9.1
docutils==0.13.1
imagesize==0.7.1
Jinja2==2.11.3
jsonpointer==2.0
MarkupSafe==1.1.1
packaging==16.8
Pygments==2.7.4
pyparsing==2.2.0
pytz==2016.10
requests==2.27.1
recommonmark==0.7.1
six==1.10.0
snowballstemmer==1.2.1
urllib3==1.26.5
jdcal==1.2
jsonref==0.1
lxml==4.9.1
openpyxl==3.0.10
schema==0.4.0
setuptools==65.5.0

