<ul>
<li><a href='#Activity'>Activity</a></li>
<li><a href='#Classification'>Classification</a></li>
<li><a href='#Event'>Event</a></li>
<li><a href='#Location'>Location</a></li>
<li><a href='#Organization'>Organization</a></li>
<li><a href='#Transaction'>Transaction</a></li>
</ul>
<p>Details on each of these building blocks can be found below.</p>
<h4 class='activity' id='Activity'><span class='glyphicon glyphicon-th'></span> Activity</h4>
<p>An activity is something that can be reported on through this standard. Activities can be grants, aid projects, investments or many other kinds of projects or collections of people, places and events which someone may wish to describe. </p>
<p><strong>Types:</strong> Grant, Activity</p>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-target="#table-Activity">
              Data properties
            </a>
          </h4>
        </div>
        <div id="table-Activity" class="panel-collapse collapse out">
          <div class="panel-body"> 
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Title (en)</th>
                <th>Description</th>
                <th>Values</th>
              </tr>
            </thead><tbody>

<tr class='rowtype-text'>
<td>id</td>
<td>Identifier</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-text'>
<td>title</td>
<td>Title</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-text'>
<td>currency</td>
<td>Currency</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-text'>
<td>description</td>
<td>Description</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-text'>
<td>url</td>
<td>Website</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-yes/no'>
<td>fromOpenCall</td>
<td>From an open call?</td>
<td>-</td>
<td>Yes/No</td>
</tr>
<tr class='rowtype-datetime'>
<td>dateModified</td>
<td>Last modified</td>
<td>-</td>
<td>DateTime</td>
</tr>
</tbody></table></div>
    </div>
    </div>

          <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#related-Activity">
                  Relationship properties
                </a>
              </h4>
            </div>
            <div id="related-Activity" class="panel-collapse collapse out">
              <div class="panel-body"> 
              <table class="table">
                <thead>
                  <tr>
                    <th>Relationship</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Related to</th>
                  </tr>
                </thead>
                <tbody>
    
<tr>
<td>relatedActivity</td>
<td>Related Activity</td>
<td>-</td>
<td> <a href='#Activity'>Activity (Activity)</a></td>
</tr>
<tr>
<td>fundingType</td>
<td>Funding Type</td>
<td>-</td>
<td> <a href='#Classification'>Classification (Classification)</a></td>
</tr>
<tr>
<td>classifications</td>
<td>Classifications</td>
<td>-</td>
<td> <a href='#Classification'>Classification (Classification)</a></td>
</tr>
<tr>
<td>grantProgramme</td>
<td>Grant Programme</td>
<td>-</td>
<td> <a href='#Classification'>Classification (Classification)</a></td>
</tr>
<tr>
<td>actualDates</td>
<td>-</td>
<td>-</td>
<td> <a href='#Event'>Event (Event)</a></td>
</tr>
<tr>
<td>plannedDates</td>
<td>Planned Dates</td>
<td>-</td>
<td> <a href='#Event'>Event (Event)</a></td>
</tr>
<tr>
<td>beneficiaryLocation</td>
<td>Beneficiary Location</td>
<td>-</td>
<td> <a href='#Location'>Place (Location)</a></td>
</tr>
<tr>
<td>location</td>
<td>-</td>
<td>-</td>
<td> <a href='#Location'>Place (Location)</a></td>
</tr>
<tr>
<td>fundingOrganization</td>
<td>Funding Org</td>
<td>-</td>
<td> <a href='#Organization'>FundingOrganization (Organization)</a></td>
</tr>
<tr>
<td>recipientOrganization</td>
<td>Recipient Org</td>
<td>-</td>
<td> <a href='#Organization'>RecipientOrganization (Organization)</a></td>
</tr>
<tr>
<td>applicationTransaction</td>
<td>Amount applied for</td>
<td>-</td>
<td> <a href='#Transaction'>Application (Transaction)</a></td>
</tr>
<tr>
<td>disbursementTransaction</td>
<td>Amount paid out</td>
<td>-</td>
<td> <a href='#Transaction'>Disbursement (Transaction)</a></td>
</tr>
<tr>
<td>commitmentTransaction</td>
<td>Amount awarded</td>
<td>-</td>
<td> <a href='#Transaction'>Commitment (Transaction)</a></td>
</tr>
</tbody></table></div>
       </div>
       </div>
<h4 class='activity' id='Classification'><span class='glyphicon glyphicon-th'></span> Classification</h4>
<p>A classification is used to describe an activity, document, transaction, organisation or other building block, usually using some pre-defined list of categories or tags. Classifications have code values and a vocabulary (which determines the 'code list' that code values should be found on). They may also include text descriptions and notes about the classification.</p>
<p><strong>Types:</strong> Classification</p>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-target="#table-Classification">
              Data properties
            </a>
          </h4>
        </div>
        <div id="table-Classification" class="panel-collapse collapse out">
          <div class="panel-body"> 
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Title (en)</th>
                <th>Description</th>
                <th>Values</th>
              </tr>
            </thead><tbody>

<tr class='rowtype-reference'>
<td>Organization.id</td>
<td>Organization ID</td>
<td>The identifier of a related Organization (optional)</td>
<td>Reference</td>
</tr>
<tr class='rowtype-reference'>
<td>Location.id</td>
<td>Location ID</td>
<td>The identifier of a related Location (optional)</td>
<td>Reference</td>
</tr>
<tr class='rowtype-reference'>
<td>Activity.id</td>
<td>Activity ID</td>
<td>The identifier of a related Activity (optional)</td>
<td>Reference</td>
</tr>
<tr class='rowtype-reference'>
<td>relationshipType</td>
<td>Relationship Type</td>
<td>One of: organisationType, classifications, grantProgramme, gazeteerEntry, fundingType</td>
<td>Reference</td>
</tr>
<tr class='rowtype-text'>
<td>name</td>
<td>Name</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-text'>
<td>vocabulary</td>
<td>Vocabulary</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-text'>
<td>code</td>
<td>Code</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-text'>
<td>description</td>
<td>Description</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-datetime'>
<td>dateModified</td>
<td>Last modified</td>
<td>-</td>
<td>DateTime</td>
</tr>
</tbody></table></div>
    </div>
    </div>

          <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#related-Classification">
                  Relationship properties
                </a>
              </h4>
            </div>
            <div id="related-Classification" class="panel-collapse collapse out">
              <div class="panel-body"> 
              <table class="table">
                <thead>
                  <tr>
                    <th>Relationship</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Related to</th>
                  </tr>
                </thead>
                <tbody>
    
</tbody></table></div>
       </div>
       </div>
<h4 class='activity' id='Event'><span class='glyphicon glyphicon-th'></span> Event</h4>
<p>An event is an occurence in the lifetime of an activity. This might be a start or end date, or some other key moment. </p>
<p><strong>Types:</strong> Event</p>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-target="#table-Event">
              Data properties
            </a>
          </h4>
        </div>
        <div id="table-Event" class="panel-collapse collapse out">
          <div class="panel-body"> 
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Title (en)</th>
                <th>Description</th>
                <th>Values</th>
              </tr>
            </thead><tbody>

<tr class='rowtype-reference'>
<td>Activity.id</td>
<td>Activity ID</td>
<td>The identifier of a related Activity (optional)</td>
<td>Reference</td>
</tr>
<tr class='rowtype-reference'>
<td>relationshipType</td>
<td>Relationship Type</td>
<td>One of: actualDates, plannedDates</td>
<td>Reference</td>
</tr>
<tr class='rowtype-text'>
<td>title</td>
<td>Title</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-datetime'>
<td>startDate</td>
<td>Start Date</td>
<td>-</td>
<td>DateTime</td>
</tr>
<tr class='rowtype-text'>
<td>duration</td>
<td>Duration</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-datetime'>
<td>endDate</td>
<td>End Date</td>
<td>-</td>
<td>DateTime</td>
</tr>
<tr class='rowtype-text'>
<td>description</td>
<td>Description</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-datetime'>
<td>dateModified</td>
<td>Last modified</td>
<td>-</td>
<td>DateTime</td>
</tr>
</tbody></table></div>
    </div>
    </div>

          <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#related-Event">
                  Relationship properties
                </a>
              </h4>
            </div>
            <div id="related-Event" class="panel-collapse collapse out">
              <div class="panel-body"> 
              <table class="table">
                <thead>
                  <tr>
                    <th>Relationship</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Related to</th>
                  </tr>
                </thead>
                <tbody>
    
</tbody></table></div>
       </div>
       </div>
<h4 class='activity' id='Location'><span class='glyphicon glyphicon-th'></span> Location</h4>
<p>Locations can be mapped using latitute and longitude, information suitable for geocoding, or a gazeteer entry. </p>
<p><strong>Types:</strong> Place</p>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-target="#table-Location">
              Data properties
            </a>
          </h4>
        </div>
        <div id="table-Location" class="panel-collapse collapse out">
          <div class="panel-body"> 
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Title (en)</th>
                <th>Description</th>
                <th>Values</th>
              </tr>
            </thead><tbody>

<tr class='rowtype-reference'>
<td>Organization.id</td>
<td>Organization ID</td>
<td>The identifier of a related Organization (optional)</td>
<td>Reference</td>
</tr>
<tr class='rowtype-reference'>
<td>Activity.id</td>
<td>Activity ID</td>
<td>The identifier of a related Activity (optional)</td>
<td>Reference</td>
</tr>
<tr class='rowtype-reference'>
<td>relationshipType</td>
<td>Relationship Type</td>
<td>One of: beneficiaryLocation, location</td>
<td>Reference</td>
</tr>
<tr class='rowtype-text'>
<td>name</td>
<td>Name</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-text'>
<td>countryCode</td>
<td>Country Code</td>
<td>Should be a valid ISO Country code.</td>
<td>Text</td>
</tr>
<tr class='rowtype-number (float)'>
<td>latitude</td>
<td>Latitude</td>
<td>-</td>
<td>Number (float)</td>
</tr>
<tr class='rowtype-number (float)'>
<td>longitude</td>
<td>Longitude</td>
<td>-</td>
<td>Number (float)</td>
</tr>
<tr class='rowtype-text'>
<td>description</td>
<td>Description</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-datetime'>
<td>dateModified</td>
<td>Last modified</td>
<td>-</td>
<td>DateTime</td>
</tr>
</tbody></table></div>
    </div>
    </div>

          <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#related-Location">
                  Relationship properties
                </a>
              </h4>
            </div>
            <div id="related-Location" class="panel-collapse collapse out">
              <div class="panel-body"> 
              <table class="table">
                <thead>
                  <tr>
                    <th>Relationship</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Related to</th>
                  </tr>
                </thead>
                <tbody>
    
<tr>
<td>gazeteerEntry</td>
<td>Gazeteer Entry</td>
<td>-</td>
<td> <a href='#Classification'>Classification (Classification)</a></td>
</tr>
</tbody></table></div>
       </div>
       </div>
<h4 class='activity' id='Organization'><span class='glyphicon glyphicon-th'></span> Organization</h4>
<p>Organizations are involved in activities and transactions. Organizations can have contact details, descriptions, classifications and identifiers. </p>
<p><strong>Types:</strong> FundingOrganization, RecipientOrganization</p>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-target="#table-Organization">
              Data properties
            </a>
          </h4>
        </div>
        <div id="table-Organization" class="panel-collapse collapse out">
          <div class="panel-body"> 
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Title (en)</th>
                <th>Description</th>
                <th>Values</th>
              </tr>
            </thead><tbody>

<tr class='rowtype-text'>
<td>id</td>
<td>Identifier</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-reference'>
<td>Transaction.id</td>
<td>Transaction ID</td>
<td>The identifier of a related Transaction (optional)</td>
<td>Reference</td>
</tr>
<tr class='rowtype-reference'>
<td>Activity.id</td>
<td>Activity ID</td>
<td>The identifier of a related Activity (optional)</td>
<td>Reference</td>
</tr>
<tr class='rowtype-reference'>
<td>relationshipType</td>
<td>Relationship Type</td>
<td>One of: fundingOrganization, recipientOrganization</td>
<td>Reference</td>
</tr>
<tr class='rowtype-text'>
<td>name</td>
<td>Name</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-text'>
<td>contactName</td>
<td>Contact Name</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-text'>
<td>streetAddress</td>
<td>Street Address</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-text'>
<td>addressLocality</td>
<td>City</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-text'>
<td>addressRegion</td>
<td>County/State</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-text'>
<td>postalCode</td>
<td>Postal Code</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-text'>
<td>addressCountry</td>
<td>Country</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-text'>
<td>email</td>
<td>Email</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-text'>
<td>alternateName</td>
<td>Alternate Name</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-text'>
<td>charityNumber</td>
<td>Charity Number</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-text'>
<td>companyNumber</td>
<td>Company Number</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-text'>
<td>description</td>
<td>Description</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-text'>
<td>url</td>
<td>Website</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-datetime'>
<td>dateModified</td>
<td>Last modified</td>
<td>-</td>
<td>DateTime</td>
</tr>
</tbody></table></div>
    </div>
    </div>

          <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#related-Organization">
                  Relationship properties
                </a>
              </h4>
            </div>
            <div id="related-Organization" class="panel-collapse collapse out">
              <div class="panel-body"> 
              <table class="table">
                <thead>
                  <tr>
                    <th>Relationship</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Related to</th>
                  </tr>
                </thead>
                <tbody>
    
<tr>
<td>organisationType</td>
<td>Organisation Type</td>
<td>-</td>
<td> <a href='#Classification'>Classification (Classification)</a></td>
</tr>
<tr>
<td>location</td>
<td>-</td>
<td>-</td>
<td> <a href='#Location'>Place (Location)</a></td>
</tr>
</tbody></table></div>
       </div>
       </div>
<h4 class='activity' id='Transaction'><span class='glyphicon glyphicon-th'></span> Transaction</h4>
<p>A transactions may be attached to an activity, and have a date, type, currency and value. Transactions may be commitments to fund an activity, disbursements of funding, or any other kind of financial transaction. </p>
<p><strong>Types:</strong> Application, Commitment, Disbursement</p>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-target="#table-Transaction">
              Data properties
            </a>
          </h4>
        </div>
        <div id="table-Transaction" class="panel-collapse collapse out">
          <div class="panel-body"> 
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Title (en)</th>
                <th>Description</th>
                <th>Values</th>
              </tr>
            </thead><tbody>

<tr class='rowtype-text'>
<td>id</td>
<td>Identifier</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-reference'>
<td>Activity.id</td>
<td>Activity ID</td>
<td>The identifier of a related Activity (optional)</td>
<td>Reference</td>
</tr>
<tr class='rowtype-reference'>
<td>relationshipType</td>
<td>Relationship Type</td>
<td>One of: applicationTransaction, commitmentTransaction, disbursementTransaction</td>
<td>Reference</td>
</tr>
<tr class='rowtype-datetime'>
<td>transactionDate</td>
<td>Transaction date</td>
<td>-</td>
<td>DateTime</td>
</tr>
<tr class='rowtype-text'>
<td>currency</td>
<td>Currency</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-number (float)'>
<td>value</td>
<td>Value</td>
<td>-</td>
<td>Number (float)</td>
</tr>
<tr class='rowtype-datetime'>
<td>valueDate</td>
<td>Value date</td>
<td>-</td>
<td>DateTime</td>
</tr>
<tr class='rowtype-text'>
<td>description</td>
<td>Description</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-datetime'>
<td>dateModified</td>
<td>Last modified</td>
<td>-</td>
<td>DateTime</td>
</tr>
</tbody></table></div>
    </div>
    </div>

          <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#related-Transaction">
                  Relationship properties
                </a>
              </h4>
            </div>
            <div id="related-Transaction" class="panel-collapse collapse out">
              <div class="panel-body"> 
              <table class="table">
                <thead>
                  <tr>
                    <th>Relationship</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Related to</th>
                  </tr>
                </thead>
                <tbody>
    
<tr>
<td>recipient</td>
<td>Recipient</td>
<td>-</td>
<td> <a href='#Organization'>Organization (Organization)</a></td>
</tr>
<tr>
<td>provider</td>
<td>Provider</td>
<td>-</td>
<td> <a href='#Organization'>Organization (Organization)</a></td>
</tr>
</tbody></table></div>
       </div>
       </div>
