
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a  data-target="#table-Activity">
              Data properties
            </a>
          </h4>
        </div>
        <div id="table-Activity" class="panel">
          <div class="panel-body"> 
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Title (en)</th>
                <th>Description</th>
                <th>Values</th>
              </tr>
            </thead><tbody>

<tr class='rowtype-text'>
<td>id</td>
<td>Identifier</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-text'>
<td>title</td>
<td>Title</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-text'>
<td>fundingOrganization.id</td>
<td>Funding Org:Identifier</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-text'>
<td>fundingOrganization.name</td>
<td>Funding Org:Name</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-text'>
<td>recipientOrganization.id</td>
<td>Recipient Org:Identifier</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-text'>
<td>recipientOrganization.name</td>
<td>Recipient Org:Name</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-text'>
<td>currency</td>
<td>Currency</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-entity'>
<td>sum(applicationTransaction)</td>
<td>Total Amount applied for</td>
<td>-</td>
<td>Entity</td>
</tr>
<tr class='rowtype-entity'>
<td>sum(commitmentTransaction)</td>
<td>Total Amount awarded</td>
<td>-</td>
<td>Entity</td>
</tr>
<tr class='rowtype-text'>
<td>recipientOrganization.streetAddress</td>
<td>Recipient Org:Street Address</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-datetime'>
<td>plannedDates.startDate</td>
<td>Planned Dates:Start Date</td>
<td>-</td>
<td>DateTime</td>
</tr>
<tr class='rowtype-text'>
<td>plannedDates.duration</td>
<td>Planned Dates:Duration</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-datetime'>
<td>plannedDates.endDate</td>
<td>Planned Dates:End Date</td>
<td>-</td>
<td>DateTime</td>
</tr>
<tr class='rowtype-text'>
<td>recipientOrganization.addressLocality</td>
<td>Recipient Org:City</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-text'>
<td>recipientOrganization.addressRegion</td>
<td>Recipient Org:County/State</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-text'>
<td>recipientOrganization.postalCode</td>
<td>Recipient Org:Postal Code</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-text'>
<td>recipientOrganization.addressCountry</td>
<td>Recipient Org:Country</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-text'>
<td>recipientOrganization.alternateName</td>
<td>Recipient Org:Alternate Name</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-text'>
<td>recipientOrganization.description</td>
<td>Recipient Org:Description</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-text'>
<td>beneficiaryLocation.name</td>
<td>Beneficiary Location:Name</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-number (float)'>
<td>beneficiaryLocation.latitude</td>
<td>Beneficiary Location:Latitude</td>
<td>-</td>
<td>Number (float)</td>
</tr>
<tr class='rowtype-number (float)'>
<td>beneficiaryLocation.longitude</td>
<td>Beneficiary Location:Longitude</td>
<td>-</td>
<td>Number (float)</td>
</tr>
<tr class='rowtype-entity'>
<td>beneficiaryLocation.country</td>
<td>Beneficiary Location:LABEL MISSING</td>
<td>-</td>
<td>Entity</td>
</tr>
<tr class='rowtype-text'>
<td>description</td>
<td>Description</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-text'>
<td>url</td>
<td>Website</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-yes/no'>
<td>fromOpenCall</td>
<td>From an open call?</td>
<td>-</td>
<td>Yes/No</td>
</tr>
<tr class='rowtype-text'>
<td>relatedActivity.id</td>
<td>Related Activity:Identifier</td>
<td>-</td>
<td>Text</td>
</tr>
<tr class='rowtype-datetime'>
<td>dateModified</td>
<td>Last modified</td>
<td>-</td>
<td>DateTime</td>
</tr>
</tbody></table></div>
    </div>
    </div>

   