.wy-table-responsive table td {
    white-space: normal !important;
}
.wy-side-nav-search {
    background: #ff9222;
}
.wy-side-nav-search input[type=text] {
    border-color: #ff9222;
}

.admonition {
    padding: 12px;
    line-height: 24px;
    margin-bottom: 24px;
    background: #e7f2fa;
}

div.admonition-for-example {
    background: rgb(253, 217, 180);
}

div.admonition-for-example p.admonition-title {
    background:#ff9222;
}